obj/**
obj-debug/**
obj-test/**
data/ownedcards_*.txt
data/customdecks_*.txt
data/*.etg
data/cards_section_*.xml
data/fusion_recipes_cj2.xml
data/missions.xml
data/skills_set.xml
data/levels.xml
tuo
tuoold
tuodebug
test/**
data/customdecks.txt
data/ownedcards.txt
out.txt
out.*
*.cmd
*.dat
*.out
tuo.exe
*.ini
*.swp
*.stackdump
*.gcov
.coveralls.yml
build-*
tuo-*
tuo-omp
tuo-debug.exe
tuodebug.exe
tuo-x86-debug.exe
tuo-x86.exe
tuo-test.exe
tuo-x86-test.exe
